<h1>Tell Me all your secrets</h1>

<div id="main"></div>

<script type='text/x-handlebars-template' id='appView'>
  <div id="new-secret"></div>
  <ul id="secrets"></ul>
</script>

<script type='text/x-handlebars-template' id='newSecretTemplate'>
  <form >
    <textarea placeholder='Confess your secret anonymously...'></textarea>
    <button class='go'>shh...</button>
    <button class='stop'>Stahhp...</button>
  </form>
</script>


